<!-- COMMENT FORM !-->
<div id="jal-div-element-comment-form-container">
    <a class="trigger-this-page-comment-form-toggle jal-any-button jal-any-gray-button">have a question?</a>
    <div data-state="opened" id="jal-this-page-comment-form" class="jal-any-form-container">
        <hr class="jal-hr-colored" />
        <form accept-charset="UTF-8" action="https://tyf.jonesactlaw.com/formCapture.php" data-alt="https://tschedule.infusionsoft.com/app/form/process/872fb9419f21bca8bf05c05d626ff062" class="infusion-form" id="inf_form_872fb9419f21bca8bf05c05d626ff062" method="POST">
            <input name="inf_form_xid" type="hidden" value="872fb9419f21bca8bf05c05d626ff062" />
            <input name="inf_form_name" type="hidden" value="Have a Question Form" />
            <input name="infusionsoft_version" type="hidden" value="1.70.0.90871" />
            <div class="infusion-field">
                <label for="inf_field_FirstName">Your Name *</label>
                <input class="infusion-field-input" id="inf_field_FirstName" name="inf_field_FirstName" placeholder="Your Name *" type="text" />
            </div>
            <div class="infusion-field">
                <label for="inf_field_Phone1">Phone</label>
                <input class="infusion-field-input" id="inf_field_Phone1" name="inf_field_Phone1" placeholder="Phone" type="text" />
            </div>
            <div class="infusion-field">
                <label for="inf_field_Email">Email *</label>
                <input class="infusion-field-input" id="inf_field_Email" name="inf_field_Email" placeholder="Email *" type="text" />
            </div>
            <div class="infusion-field">
                <label for="inf_misc_Commentsquestionsorconcerns">Comments, questions, or concerns *</label>
                <textarea cols="24" id="inf_misc_Commentsquestionsorconcerns" name="inf_misc_Commentsquestionsorconcerns" placeholder="Comments, questions, or concerns *" rows="5"></textarea></div>
            <div>
                <div>&nbsp;</div>
            </div>
            <div class="infusion-submit">
                <button class="infusion-recaptcha" id="recaptcha_872fb9419f21bca8bf05c05d626ff062" type="submit">Submit</button>
            </div>
        </form>
        <script type="text/javascript" src="https://tschedule.infusionsoft.app/app/webTracking/getTrackingCode"></script>
        <script type="text/javascript" src="https://tschedule.infusionsoft.com/resources/external/recaptcha/production/recaptcha.js?b=1.70.0.90871"></script>
        <script src="https://www.google.com/recaptcha/api.js?onload=onloadInfusionRecaptchaCallback&render=explicit" async="async" defer="defer"></script>
        <script type="text/javascript" src="https://tschedule.infusionsoft.com/app/timezone/timezoneInputJs?xid=872fb9419f21bca8bf05c05d626ff062"></script>

        {#<form accept-charset="UTF-8" action="https://tschedule.infusionsoft.com/app/form/process/872fb9419f21bca8bf05c05d626ff062" class="infusion-form" id="inf_form_872fb9419f21bca8bf05c05d626ff062" method="POST">
            <input name="inf_form_xid" type="hidden" value="872fb9419f21bca8bf05c05d626ff062" />
            <input name="inf_form_name" type="hidden" value="Have a Question Form" />
            <input name="infusionsoft_version" type="hidden" value="1.69.0.47575" />
            <div class="infusion-field">
                <label for="inf_field_FirstName">Your Name *</label>
                <input class="infusion-field-input" id="inf_field_FirstName" name="inf_field_FirstName" placeholder="Your Name *" type="text" />
            </div>
            <div class="infusion-field">
                <label for="inf_field_Phone1">Phone</label>
                <input class="infusion-field-input" id="inf_field_Phone1" name="inf_field_Phone1" placeholder="Phone" type="text" />
            </div>
            <div class="infusion-field">
                <label for="inf_field_Email">Email *</label>
                <input class="infusion-field-input" id="inf_field_Email" name="inf_field_Email" placeholder="Email *" type="text" />
            </div>
            <div class="infusion-field">
                <label for="inf_misc_Commentsquestionsorconcerns">Comments, questions, or concerns *</label>
                <textarea cols="24" id="inf_misc_Commentsquestionsorconcerns" name="inf_misc_Commentsquestionsorconcerns" placeholder="Comments, questions, or concerns *" rows="5"></textarea></div>
            <div>
                <div>&nbsp;</div>
            </div>
            <div class="infusion-submit">
                <button class="infusion-recaptcha" id="recaptcha_872fb9419f21bca8bf05c05d626ff062" type="submit">Submit</button>
            </div>
        </form>
        <script src="https://tschedule.infusionsoft.com/app/webTracking/getTrackingCode"></script>
        <script src="https://tschedule.infusionsoft.com/resources/external/recaptcha/production/recaptcha.js?b=1.69.0.47575-hf-201805221634"></script>
        <script src="https://www.google.com/recaptcha/api.js?onload=onloadInfusionRecaptchaCallback&render=explicit" async="async" defer="defer"></script>
        <script src="https://tschedule.infusionsoft.com/app/timezone/timezoneInputJs?xid=872fb9419f21bca8bf05c05d626ff062"></script>#}
        {#<form>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <span class="jal-any-form-title">Submit a Question</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input placeholder="Your name" type="text" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <input placeholder="Topic/subject" type="text" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <input placeholder="Your e-mail" type="text" class="form-control">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <textarea placeholder="Comments, questions or concerns" class="form-control" style="height:150px;"></textarea>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary">Submit Question</button>
                    </div>
                </div>
            </div>
        </form>#}
    </div>
</div>