<div id="nbb-footer-banner">
    <div id="nbb-fb-left">
        <ul>
            {#<li><a target="_blank" href="https://www.jonesactlaw.com/contact-us/"><i class="fa fa-phone"></i> Contact</a></li>
            <li><a target="_blank" href="https://www.google.com/maps?ll=29.948662,-90.067933&amp;z=15&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=embed&amp;q=400+Poydras+St+%232090+New+Orleans,+LA+70130"><i class="fa fa-map-marker"></i> Location</a></li>#}
            {#<li><a class="trigger-book-modal" href="https://www.jonesactlaw.com/library-free-downloads/"><i class="fa fa-book"></i> Free Book Download</a></li>#}
        </ul>
    </div>
    <div id="nbb-fb-right">
        <ul>
            {#<li><a target="_blank" href="{{ youtube_url }}"><i class="fa fa-youtube-play"></i> <span>YouTube</span></a></li>
            <li><a target="_blank" href="{{ facebook_url }}"><i class="fa fa-facebook"></i> <span>Facebook</span></a></li>#}
            <li><a class="trigger-book-modal" href="/resources/"><i class="fa fa-book"></i> Tools & Resources</a></li>
            <li><a class="" href="https://www.jonesactlaw.com/your-claim-calculator/"><i class="fa fa-calculator"></i> Claim Calculator</a></li>
            <li class="priority"><a class="active" onclick="window.open('https://www.apex.live/pages/chat.aspx?companyId=27137&requestedAgentId=25&originalReferrer='+document.referrer+'&referrer='+window.location.href,'','width=380,height=570');"><i class="fa fa-user"></i> Live Chat!</a></li>
        </ul>
    </div>
    <div id="nbb-fb-quiet" class="alt">
        <ul>
            <li><a target="_blank" href="tel:8667171581"><i class="fa fa-phone"></i> Call</a></li>
            <li><a onclick="window.open('https://www.apex.live/pages/chat.aspx?companyId=27137&requestedAgentId=25&originalReferrer='+document.referrer+'&referrer='+window.location.href,'','width=380,height=570');"><i class="fa fa-user"></i> Live Chat!</a></li>
        </ul>
        {#<ul>
            <li><a target="_blank" href="tel:8667171581"><i class="fa fa-phone"></i></a></li>
            #}{#<li><a target="_blank" href="https://www.google.com/maps?ll=29.948662,-90.067933&amp;z=15&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=embed&amp;q=400+Poydras+St+%232090+New+Orleans,+LA+70130"><i class="fa fa-map-marker"></i></a></li>
            <li class="le-book"><a href="https://www.jonesactlaw.com/captains-guide-request"><i class="fa fa-book"></i> Free Book</a></li>#}{#
            <!--<li><a target="_blank" href="https://www.youtube.com/channel/UCnkyOhCf9MbCZfhRZ7-JyNg"><i class="fa fa-youtube-play"></i></a></li>
            <li><a target="_blank" href="https://www.facebook.com/The-Young-Firm-115042805194709/"><i class="fa fa-facebook"></i></a></li>-->
            <li style="float:right" class="priority"><a class="active" href="javascript:StartNgageChat();"><i class="fa fa-user"></i> Live Chat!</a></li>
        </ul>#}
    </div>
</div>