<ul id="jal-any-sticky-bar-social">
    <li><a class="jal-anchor-sticky-twitter" href="{{ twitter_url }}"><i class="fa fa-twitter"></i></a></li>
    <li><a class="jal-anchor-sticky-facebook" href="{{ facebook_url }}"><i class="fa fa-facebook"></i></a></li>
    <li><a class="jal-anchor-sticky-linkedin" href="{{ linkedin_url }}"><i class="fa fa-linkedin"></i></a></li>
    {#<li><a class="jal-anchor-sticky-google" href="{{ google_url }}"><i class="fa fa-google-plus"></i></a></li>#}
    <li><a class="jal-anchor-sticky-google" href="https://www.youtube.com/channel/UCnkyOhCf9MbCZfhRZ7-JyNg"><i class="fa fa-youtube"></i></a></li>
    {#<li><a class="jal-anchor-sticky-stack" href="#"><i class="fa fa-share-alt"></i></a></li>#}
</ul>