{% extends "base-page.twig" %}
{% block page_title %}Blog Posts{% endblock %}
{% block page_featured_image %}{% endblock %}
{% block small_crumbs %}{% endblock %}
{% block small_title %}{% endblock %}
{% block page_body %}

    <div id="jal-any-element-primary" class="even-cols col-xs-12 jal-any-element-body">
        {% import 'loops/basic-post-loop.twig' as looper %}
        {{ looper.basic_post_loop(posts,_context) }}
        {% if posts|length > 0 %}
        <div data-current-page="1" data-post-type="{{ posts[0].type.slug }}" id="infinite-loop"></div>
        {% endif %}
    </div>

{% endblock %}