{% extends "base-single.twig" %}

{% block single_title_block %}
	<div class="row">
		<div class="col-xs-12">
			<div class="jal-any-element-body">
				<h1>{{ post.title }}</h1>
				{% if post.get_field('page_summary')|length > 0 %}
					<span id="jal-any-element-summary">{{ post.get_field('page_summary') }}</span>
				{% else %}
					<br />
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block single_body %}

	<div id="jal-any-element-primary" class="even-cols col-xs-12 jal-any-element-body content">
		<div class="row">
			<div class="col-xs-12">
				<!-- BODY !-->
				{{ post.content }}
			</div>
		</div>
		<hr />
	</div>
	{#<div class="even-cols col-xs-12 col-sm-3 col-sm-push-1">
		<h3>Enter Your Information To Get Your Free Book!</h3>
		<p>Simply fill out the form below and we will immediately email you our book. There is no charge at all to you.</p>
		<p>“Understanding Your Offshore Injury: Audiobook”</p>
		#}{#<form>
			<div class="form-group">
				<label class="control-label">Name</label>
				<input type="text" class="form-control">
			</div>
			<div class="form-group">
				<label class="control-label">Email</label>
				<input type="text" class="form-control">
			</div>
			<button class="btn btn-danger btn-lg btn-block">DOWNLOAD NOW</button>
		</form>#}{#
		<form accept-charset="UTF-8" action="https://tschedule.infusionsoft.com/app/form/process/a9ef9012962abb2ddee26012b445176f" class="infusion-form" id="inf_form_a9ef9012962abb2ddee26012b445176f" method="POST">
			<input name="inf_form_xid" type="hidden" value="a9ef9012962abb2ddee26012b445176f" />
			<input name="inf_form_name" type="hidden" value="Captain Digital Book &#a;Request &#a;(JAL Homepage)" />
			<input name="infusionsoft_version" type="hidden" value="1.69.0.46385" />
			<div class="infusion-field">
				<label for="inf_field_FirstName">First Name *</label>
				<input class="infusion-field-input" id="inf_field_FirstName" name="inf_field_FirstName" placeholder="First Name *" type="text" />
			</div>
			<div class="infusion-field">
				<label for="inf_field_Email">Email *</label>
				<input class="infusion-field-input" id="inf_field_Email" name="inf_field_Email" placeholder="Email *" type="text" />
			</div>
			<div>
				<div>&nbsp;</div>
			</div>
			<div class="infusion-submit">
				<button class="infusion-recaptcha" id="recaptcha_a9ef9012962abb2ddee26012b445176f" type="submit">Email Me The Book Now</button>
			</div>
		</form>
		<script type="text/javascript" src="https://tschedule.infusionsoft.com/app/webTracking/getTrackingCode"></script>
		<script type="text/javascript" src="https://tschedule.infusionsoft.com/resources/external/recaptcha/production/recaptcha.js?b=1.69.0.46385-hf-201805161808"></script>
		<script src="https://www.google.com/recaptcha/api.js?onload=onloadInfusionRecaptchaCallback&render=explicit" async="async" defer="defer"></script>
		<script type="text/javascript" src="https://tschedule.infusionsoft.com/app/timezone/timezoneInputJs?xid=a9ef9012962abb2ddee26012b445176f"></script>
	</div>#}

{% endblock %}
